In [ ]:
#Task-1
class Marks:
  def __init__(self,mark):
    self.mark=mark
  def __add__(self,other):
    a= self.mark+ other.mark
    return Marks(a)

Q1 = Marks(int(input("Quiz 1 (out of 10): ")))
Q2 = Marks(int(input("Quiz 2 (out of 10): ")))
Lab = Marks(int(input("Lab (out of 30): ")))
Mid = Marks(int(input("Mid (out of 20): ")))
Final = Marks(int(input("Final (out of 30): ")))
total = Q1 + Q2 + Lab + Mid + Final
print("Total marks: {}".format(total.mark))

Quiz 1 (out of 10): 10
Quiz 2 (out of 10): 8
Lab (out of 30): 30
Mid (out of 20): 20
Final (out of 30): 29
Total marks: 97

In [ ]:
#Task-2
class Teacher:
  def __init__(self,var1,var2):
    self.__var1=var1
    self.__var2=var2
    self.__p=[]

  def addCourse(self,now):
    self.__p.append(now.bull)

  def printDetail(self):
    print("====================================")
    print("Name:", self.__var1)
    print("Department:" ,self.__var2)
    print("List of courses")
    print("====================================")
    for i in self.__p:
      print(i)
    print("====================================")

class Course:
  def __init__(self,bull):
    self.bull=bull

t1 = Teacher("Saad Abdullah", "CSE")
t2 = Teacher("Mumit Khan", "CSE")
t3 = Teacher("Sadia Kazi", "CSE")
c1 = Course("CSE 110 Programming Language I")
c2 = Course("CSE 111 Programming Language-II")
c3 = Course("CSE 220 Data Structures")
c4 = Course("CSE 221 Algorithms")
c5 = Course("CCSE 230 Discrete Mathematics")
c6 = Course("CSE 310 Object Oriented Programming")
c7 = Course("CSE 320 Data Communications")
c8 = Course("CSE 340 Computer Architecture")
t1.addCourse(c1)
t1.addCourse(c2)
t2.addCourse(c3)
t2.addCourse(c4)
t2.addCourse(c5)
t3.addCourse(c6)
t3.addCourse(c7)
t3.addCourse(c8)
t1.printDetail()
t2.printDetail()
t3.printDetail()

====================================
Name: Saad Abdullah
Department: CSE
List of courses
====================================
CSE 110 Programming Language I
CSE 111 Programming Language-II
====================================
====================================
Name: Mumit Khan
Department: CSE
List of courses
====================================
CSE 220 Data Structures
CSE 221 Algorithms
CCSE 230 Discrete Mathematics
====================================
====================================
Name: Sadia Kazi
Department: CSE
List of courses
====================================
CSE 310 Object Oriented Programming
CSE 320 Data Communications
CSE 340 Computer Architecture
====================================

In [ ]:
#task-3
class Team:
  def __init__(self,x="no"):
    self.__x=x
    self.__li=[]
  def setName(self,b):
    if self.__x=="no":
      self.__x=b

  def addPlayer(self,m):
    self.__li.append(m.var1)

  def printDetail(self):
    print('=====================')
    print("Team: ",self.__x)
    print("List of players: ")
    print(self.__li)
    print('=====================')

class Player:
  def __init__(self,var1):
    self.var1=var1


b = Team()
b.setName('Bangladesh')
mashrafi = Player("Mashrafi")
b.addPlayer(mashrafi)
tamim = Player("Tamim")
b.addPlayer(tamim)
b.printDetail()
a = Team("Australia")
ponting = Player("Ponting")
a.addPlayer(ponting)
lee = Player("Lee")
a.addPlayer(lee)
a.printDetail()

=====================
Team:  Bangladesh
List of players:
['Mashrafi', 'Tamim']
=====================
=====================
Team:  Australia
List of players:
['Ponting', 'Lee']
=====================

In [ ]:
#task-4
class Color:
  def __init__(self,clr):
    self.clr=clr
  def __add__(self,other):
    self.clr=self.clr+other.clr
    
    if self.clr=="redyellow" or self.clr=="yellowred":
      self.clr="Orange"
    elif self.clr=="redblue" or self.clr=="bluered":
      self.clr='Violet'
    elif self.clr=="yellowblue" or self.clr=="blueyellow":
      self.clr="Green"
    return Color(self.clr)

C1 = Color(input("First Color: ").lower())
C2 = Color(input("Second Color: ").lower())
C3 = C1 + C2
print("Color formed:", C3.clr)

First Color: blue
Second Color: YELLOW
Color formed: Green

In [ ]:
#task-5
import math
class Circle:
  def __init__(self,r=None):
    self.r=r
  
  def getRadius(self):
    return self.r

  def setRadius(self,idc):
    self.r=idc
    return self.r

  def area(self):
    self.area=(math.pi)*self.r*self.r
    return self.area

  def __add__(self,other):
    return Circle(self.r+ other.r)

c1 = Circle(4)
print("First circle radius:" , c1.getRadius())
print("First circle area:" ,c1.area())
c2 = Circle(5)
print("Second circle radius:" ,c2.getRadius())
print("Second circle area:" ,c2.area())
c3 = c1 + c2
print("Third circle radius:" ,c3.getRadius())
print("Third circle area:" ,c3.area())

First circle radius: 4
First circle area: 50.26548245743669
Second circle radius: 5
Second circle area: 78.53981633974483
Third circle radius: 9
Third circle area: 254.46900494077323

In [ ]:
#task-6
class Triangle:
  def __init__(self,base=None,hgt=None):
    self.__b=base
    self.__h=hgt
  def getBase(self):
    return self.__b
  def setBase(self,idk):
    self.__b=idk
    return self.__b

  def getHeight(self):
    return self.__h
    
  def setHeight(self,idk2):
    self.__h=idk2
    return self.__h

  def area(self):
    self.a=0.5*self.__b*self.__h
    return self.a

  def __sub__(self,other):
    self.newb= self.__b-other.__b
    self.newh=self.__h-other.__h 
    return Triangle(self.newb,self.newh)


t1 = Triangle(10, 5)
print("First Triangle Base:" , t1.getBase())
print("First Triangle Height:" , t1.getHeight())
print("First Triangle area:" ,t1.area())

t2 = Triangle(5, 3)
print("Second Triangle Base:" , t2.getBase())
print("Second Triangle Height:" , t2.getHeight())
print("Second Triangle area:" ,t2.area())
t3 = t1 - t2
print("Third Triangle Base:" , t3.getBase())
print("Third Triangle Height:" , t3.getHeight())
print("Third Triangle area:" ,t3.area())

First Triangle Base: 10
First Triangle Height: 5
First Triangle area: 25.0
Second Triangle Base: 5
Second Triangle Height: 3
Second Triangle area: 7.5
Third Triangle Base: 5
Third Triangle Height: 2
Third Triangle area: 5.0

In [ ]:
#task-7
class Dolls:
  def __init__(self,nam,mny):
    self.nam=nam
    self.mny=mny
  def detail(self):
    li=self.nam.split()
    if len(li)<=2:
      return "Doll: "+self.nam+"\n"+"Total price: "+str(self.mny)+" taka"
    else:
      return "Dolls: "+self.nam+"\n"+"Total price: "+str(self.mny)+" taka"

  def __gt__(self,other):
    if self.mny>other.mny:
      return True
    else:
      return False

  def __add__(self,other):
    x=self.mny+other.mny
    y=self.nam+" "+other.nam
    return Dolls(y,x)


obj_1 = Dolls("Tweety", 2500)
print(obj_1.detail())
if obj_1 > obj_1:
  print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")
print("=========================")
obj_2 = Dolls("Daffy Duck", 1800)
print(obj_2.detail())
if obj_2 > obj_1:
  print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")
print("=========================")
obj_3 = Dolls("Bugs Bunny", 3000)
print(obj_3.detail())
if obj_3 > obj_1:
  print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")
print("=========================")
obj_4 = Dolls("Porky Pig", 1500)
print(obj_4.detail())
if obj_4 > obj_1:
  print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")
print("=========================")
obj_5 = obj_2 + obj_3
print(obj_5.detail())
if obj_5 > obj_1:
  print("Congratulations! You get the Tweety as a gift!")
else:
  print("Thank you!")

Doll: Tweety
Total price: 2500 taka
Thank you!
=========================
Doll: Daffy Duck
Total price: 1800 taka
Thank you!
=========================
Doll: Bugs Bunny
Total price: 3000 taka
Congratulations! You get the Tweety as a gift!
=========================
Doll: Porky Pig
Total price: 1500 taka
Thank you!
=========================
Dolls: Daffy Duck Bugs Bunny
Total price: 4800 taka
Congratulations! You get the Tweety as a gift!

In [ ]:
#task-8
class Coordinates:
  def __init__(self,x,y):
    self.x=x
    self.y=y

  def detail(self):
    return (self.x,self.y)

  def __sub__(self,other):
    a=self.x-other.x
    b=self.y-other.y
    return Coordinates(a,b)

  def __mul__(self,other):
    c=self.x*other.x
    d=self.y*other.y
    return Coordinates(c,d)

  def __eq__(self,other):
    if self.x==other.x:
      return "The calculated coordinates are the same."
    else:
      return "The calculated coordinates are NOT the same."
      
p1 = Coordinates(int(input()),int(input()))
p2 = Coordinates(int(input()),int(input()))
p4 = p1 - p2
print(p4.detail())
p5 = p1 * p2
print(p5.detail())
point_check = (p4 == p5)
print(point_check)

1
2
3
4
(-2, -2)
(3, 8)
The calculated coordinates are NOT the same.